* {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-size: cover;
  background-image: url(/img/bg_gif.gif);
  background-position: center;
}
nav {
  background-color: #07033f;
  height: 10vh;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  display: flex;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 5px;
}

.luachon a,
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.luachon a:hover {
  color: orange;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9;
}
nav .navbar .luachon li {
  display: inline-block;
  margin: 0 15px;
}

nav .navbar .luachon li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: orange;
  display: block;
  transition: 0.2s linear;
}

nav .navbar .luachon li a:hover::after {
  width: 100%;
}

nav .navbar .luachon li a:hover {
  color: orange;
}

.navbar .luachon {
  display: flex;
  gap: 8rem;
}

.navbar .chuyendoi {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.nut {

  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  border: 2px solid orange;
}
.nut:hover {
  scale: 1.05;
  background-color: orange;
  color: white;
  border: 4px solid rgb(255, 255, 255);
}
.nut:active {
  scale: 0.95;
}

.dangnhap {
  background-color: #07033f6b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}
.dangnhap h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.dangnhap form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .phannhap {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.phannhap input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.phannhap label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.phannhap span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.phannhap input:focus ~ label,
.phannhap input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.phannhap input:focus ~ span::before,
.phannhap input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
  color: rgb(208, 39, 255);
}
input[type="submit"] {
  width: 100%;
  height: 45px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
.dangky {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.dangky a {
  color: #2691d9;
  text-decoration: none;
}
.dangky a:hover {
  text-decoration: underline;
}
footer {
  width: 100%;
  margin-top: 600px;
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
}
footer div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 180px;
  display: block;
}

footer div {
  margin-top: 20px;
}

footer div p {
  margin-top: 10px;
}

.phan1footer {
  width: 30%;
}

.phan1footer p {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.iconfooter i {
  margin-bottom: 80px;
  margin-top: 20px;
}

.banquyen {
  width: 100%;
  height: 5vh;
  text-align: right;
}
