* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #030b3fdf;
  color: #ffffff;
}

/* header {
  height: 90vh;
  background-color: #000;
  background-image: url("/img/background_custom.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0% {
    background-image: url(/img/background.jpg);
  }
  10% {
    background-image: url(/img/background_1.png);
  }
  20% {
    background-image: url(/img/background_2.png);
  }
  30% {
    background-image: url(/img/background_4.jpeg);
  }
  40% {
    background-image: url(/img/background_5.png);
  }
  50% {
    background-image: url(/img/background_6.jpeg);
  }
  70% {
    background-image: url(/img/background_7.jpeg);
  }
  80% {
    background-image: url(/img/background_8.jpeg);
  }
  90% {
    background-image: url(/img/background_9.jpeg);
  }
  100% {
    background-image: url(/img/background.jpg);
  }
} */
header{
  width: 100%;
}
nav {
  height: 10vh;
  background-color: #07033f;
  align-items: center;
  text-align: center;
  display: flex;
  position: sticky;
}
.loichao {
  background-color: #07033f;
  display: flex;
  text-align: center;
  padding-bottom: 20px;
  color: #b9abfc;

}

.loichao h1 {
  font-size: 40px;
  margin-top: 60px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.loichao p {
  font-size: 40px;
}
.lc{
  width: 60%;
}
.logo{
  width: 35%;
}
.logo img {
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.luachon li {
  list-style: none;
  font-weight: bold;
}
.luachon a,
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.luachon a:hover {
  color: orange;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9;
}
nav .navbar .luachon li {
  display: inline-block;
  margin: 0 20px;
  justify-content: space-around;
}

nav .navbar .luachon li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: orange;
  display: block;
  transition: 0.2s linear;
}

nav .navbar .luachon li a:hover::after {
  width: 100%;
}

nav .navbar .luachon li a:hover {
  color: orange;
}

.navbar .luachon {
  display: flex;
  gap: 8rem;
}

.navbar .chuyendoi {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.nut {
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  border: 2px solid orange;
}
.nut:hover {
  scale: 1.05;
  background-color: orange;
  color: white;
  border: 4px solid rgb(255, 255, 255);
}
.nut:active {
  scale: 0.95;
}
hr {
  width: 80%;
  margin: 0 auto;
  border: 3px solid blueviolet;
  background-color: blueviolet;
}
.gioithieu,
.custom,
.phukien {
  width: 90%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.gioithieu div,
.custom div,
.phukien div {
  width: 40%;
}

.gioithieu div h1,
.uudiem div h1,
.custom div h1,
.phukien div h1 {
  font-size: 60px;
  margin-top: 40px;
  text-transform: uppercase;
}

.gioithieu div p,
.uudiem div p,
.custom div p,
.phukien div p {
  font-size: 25px;
  margin-top: 20px;
  text-align: justify;
  margin-top: 20px;
}

.uudiem img,
.gioithieu img,
.custom img,
.phukien img {
  width: 100%;
  height: 80%;
  margin-top: 40px;
}

.uudiem {
  width: 90%;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.uudiem div {
  width: 40%;
}

.uudiem img {
  width: 100%;
  height: 75%;
}
footer {
  background-color: #07033f;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
}
footer div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 150px;
  display: block;
}

footer div {
  margin-top: 30px;
}

footer div p {
  margin-top: 30px;
}

.phan1footer {
  width: 30%;
}
footer h2 {
  color: #0044ff;
}
.phan1footer p {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  animation-name: doichovui;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes doichovui {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8c00;
  }
  20% {
    color: #c3ff00;
  }
  30% {
    color: #00fd0d;
  }
  40% {
    color: #00ffa2;
  }
  50% {
    color: #00fff2;
  }
  60% {
    color: #004cff;
  }
  70% {
    color: #2600ff;
  }
  80% {
    color: #c300ff;
  }
  90% {
    color: #ff02af;
  }
  100% {
    color: #ff0000;
  }
}

.iconfooter i {
  margin-bottom: 150px;
  margin-top: 20px;
}

.banquyen {
  background-color: #07033f;
  width: 100%;
  height: 5vh;
  text-align: right;
}
::-webkit-scrollbar {
  display: none;
}
