* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
hr {
  height: 20px;
  border: none;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #030b3fdf;
  color: #ffffff;
}

header div img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  border-radius: 200px;
}
header div {
  width: 45%;
}
header div h1 {
  display: flex;
  padding: 140px 0;
  font-size: 70px;
  text-transform: uppercase;
}
nav {
  height: 10vh;
  margin: 0 auto;
  background-color: #07033f;
  align-items: center;
  text-align: center;
  display: flex;
  top: 0;
  position: sticky;
  color: #ffffff;
  z-index: 1;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 5px;
}

.luachon li {
  list-style: none;
  font-weight: bold;
}
.luachon a,
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.luachon li:hover {
  color: orange;
}
.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9;
}
nav .navbar .luachon li {
  display: inline-block;
  margin: 0 15px;
}

nav .navbar .luachon li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: orange;
  display: block;
  transition: 0.2s linear;
}

nav .navbar .luachon li a:hover::after {
  width: 100%;
}

nav .navbar .luachon li a:hover {
  color: orange;
}

.navbar .luachon {
  display: flex;
  gap: 8rem;
}
.nut {
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  border: 2px solid orange;
}
.nut:hover {
  scale: 1.05;
  background-color: orange;
  color: white;
  border: 4px solid rgb(255, 255, 255);
}
.nut:active {
  scale: 0.95;
}
hr {
  height: 3px;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #030b3fdf;
  background-color: #030b3fdf;
}
.gioithieu {
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}
.gioithieu h1 {
  font-size: 40px;
}
.gioithieu p {
  margin-top: 40px;
  font-size: 30px;
}
.tongquan {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 100px;
}
.tongquan div {
  width: 31%;
}
.tongquan img {
  width: 100%;
  height: 500px;
}
.tongquan h1 {
  text-transform: uppercase;
}
.phanthan {
  margin: 0 auto;
  width: 90%;
  margin-top: 100px;
}

.noidungphanthan {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.noidungphanthan div {
  width: 43%;
}

.noidungphanthan img {
  width: 100%;
}

.noidungphanthan p {
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  padding: 90px 0;
}
footer {
  color: white;
  background-color: #07033f;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 40vh;
  align-items: center;
  margin-top: 40px;
}
footer div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 150px;
  display: block;
}

footer div {
  margin-top: 30px;
}

footer div p {
  margin-top: 30px;
}

.phan1footer {
  width: 30%;
}
footer h2 {
  color: #0044ff;
}
.phan1footer p {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  animation-name: doichovui;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes doichovui {
  0% {
    color: #ff0000;
  }
  10% {
    color: #ff8c00;
  }
  20% {
    color: #c3ff00;
  }
  30% {
    color: #00fd0d;
  }
  40% {
    color: #00ffa2;
  }
  50% {
    color: #00fff2;
  }
  60% {
    color: #004cff;
  }
  70% {
    color: #2600ff;
  }
  80% {
    color: #c300ff;
  }
  90% {
    color: #ff02af;
  }
  100% {
    color: #ff0000;
  }
}

.iconfooter i {
  color: white;
  margin-bottom: 150px;
  margin-top: 20px;
}

.banquyen {
  color: white;
  background-color: #07033f;
  width: 100%;
  height: 5vh;
  text-align: right;
}
::-webkit-scrollbar {
  background: #07033f;

}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  border: 5px solid orange;
  background: white;
}
.reveal {
  transform: translateZ(150px);
  position: relative;
  opacity: 0;
  transition: all 1s ease;
}
.reveal.active {
  transform: translateZ(0px);
  opacity: 1;
}
#top-up {
  font-size: 3rem;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  color:#e600ff;
  bottom: 25px;
  right: 20px;
  display: none;
  }
  #top-up:hover {
  color: #00b7ff;
  }
